/* Reset and main rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: white;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
} 

   

/* Title  */

header h1{
    text-align: center;
    padding: 50px;
    color: #E53170;
}

/* First paragraph text */

.description{
    text-align: center;
    margin-bottom: 50px;
}

/* Cards */

img{
    float: left;
    width: 70px;
    margin-right: 3px;
}

.card__labels{
    float: left;
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    background-color: #0F0E17;
}

.card__labels:last-child{
    margin: 0;
}

.card__labels>p{
    font-weight: 700;
    font-size: 15px;
    color: white;
    padding: 3px;
    
}

.debug .container{
    border: 2px solid red;

}

.debug .card{
    border: 2px solid yellow;
    /* padding: 10px; */
}
.debug .card__labels{
    border: 2px solid black;
    /* padding: 10px; */
    
}
