/* Reset and main rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: white;
}

.container{
    margin: 0 auto;
    max-width: 800px;
    
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
} 

   

/* Title  */

header h1{
    text-align: center;
    padding: 50px;
    color: #E53170;
}

/* First paragraph text */

.description{
    text-align: center;
    margin-bottom: 50px;
}

/* Cards */

img{
    float: left;
    width: 70px;
    margin-right: 10px;
}

.card-labels{
    float: left;
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    background-color: #0F0E17;
}

.card-labels:last-child{
    margin: 0;
}

.card-labels>p{
    padding: 3px;
}

.card-labels p:first-of-type{
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.card-labels__white{
    color: white;
    font-size: 12px;
    font-weight: 400;
}
.card-labels__email{
    font-size: 10px;
    color: #3A8ED7;
}

.card-margin{
    margin: 40px 0px;
}



/* footer */
.footer-ad{
    padding: 30px;
    border-bottom: 40px solid #222222;
}

.footer-bg-color{
    background-color: #222222;
}

.footer-text{
    color: white;
    font-weight: 400;
    text-align: center;
}


/* debug */
.debug .container{
    border: 2px solid red;

}

.debug .card{
    border: 2px solid yellow;
    /* padding: 10px; */
}
.debug .card-labels{
    border: 2px solid black;
    /* padding: 10px; */
    
}
